@import "colors";

.header {
  background: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 80px;
  padding: 0 120px;
  color: white;

  h2 {
    a {
      text-decoration: none;
      color: $textColor;
    }

    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
  }
}

.nav {
  width: 40%;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      a {
        text-decoration: none;
        color: $textColor;
      }

      cursor: pointer;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      list-style: none;
      margin: 0 1rem;
    }
  }
}


